*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 10px;
}

:root {
    --gradient: linear-gradient(90deg, #413150, #1e1e28,#30243a);
}

@keyframes bg-animation {
    0% {background-position: left}
    50% {background-position: right}
    100% {background-position: left}
}

html,body{
    width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.125em;
  line-height: 1.6;
  color: #333;
  background: #ddd;
  background-size: 300%;
  background-image: var(--gradient);
  animation: bg-animation 25s infinite;
}



.container{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-image: url('../images/bg-stars.svg');
}

.title{
    margin: 100px 0;
    color: #fff;
}
.counter{
    width: 100%;
    max-width: 1000px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.bloks{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bloks span{
    margin: 10px 0;
    color: #8786a5;
    text-transform: uppercase;
    font-weight: 500;
}
    
.timer{
    width: 150px;
    height: 150px;
    
    background: linear-gradient(to top, #34364f 50%, #2c2c44 50%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer span{
    font-size: 70px;
    font-weight: 700;

    background: linear-gradient(to top, #f65e84 50%, #d64f6f 50%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.social-media{
    width: 100%;
    max-width: 200px;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.social-media div{
    cursor: pointer;
}

.pattern{
    width: 100%;
}
.pattern img{
    width: 100%;
    max-height: 100%;
}


@media screen and (max-width: 800px){
    .counter{
        flex-direction: column;
    }
    .title h3{
        font-size: 23px;
    }
    .bloks span{
        font-size: 14px;
    }
    .timer span{
        font-size: 50px;
        text-align: center;
    }
}